/* Default style */
* 
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Hyperlink */
a 
{
    color: #ffffff;
    text-decoration: none;
}

/* Body */
body 
{
    background-color: #d9dcd6;
}

/* Footer */
footer
{
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    padding: 20px;
    text-align: center;
}
    
/* Header */
header 
{
    background-color: #2a607c;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px;
}    

header div 
{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header div ul 
{
    list-style-type: none;
    float: right;
    margin-left: 25px;
}

header div ul li 
{
    display: inline-block;
    margin-left: 25px;
}

header h1 
{
    display: inline-block;
    font-size: 48px;
}

header h1 .seo 
{
    color: #d9dcd6;
}

/* Paragraph */
p 
{
    font-size: 16px;
}

/* Classes */
aside
{
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

aside div 
{
    margin-bottom: 32px;
    color: #ffffff;
}

aside h3 
{
    margin-bottom: 10px;
    text-align: center;
}

aside img 
{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.content 
{
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.hero 
{
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.online-reputation-management,
.search-engine-optimization,
.social-media-marketing  {
    margin-bottom: 20px; 
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management h2,
.search-engine-optimization h2,
.social-media-marketing h2 
{
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management img
{
    max-height: 200px;
    float: right;
    margin-left: 25px;
}

.search-engine-optimization img,
.social-media-marketing img
{
    max-height: 200px;
    float: left;
    margin-right: 25px;
}